ion-card {
    padding: 25px;
    border-radius: 15px;
    margin: 25px;
    background: rgba(255, 255, 255, 0.05); /* Frosted glass background */
    backdrop-filter: blur(10px); /* Frosted glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
}
ion-content {
  --background: transparent; /* Ensure content background is transparent to show global background */
}
.close-auth {
    display: flex;
    justify-content: end;
}
ion-item.item {
    margin-bottom: 10px;
    border-radius: 10px;
}
img.header-logo-img {
    margin-bottom: 35px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ion-item.register-header {
    background: transparent;
    --background: transparent;
    color: #fff;
    text-align: center;
}
ion-item.register-header h4 {
    width: 100%;
    text-align: center;
}
