<ion-content [fullscreen]="true" *ngIf="!loading; else loadingTpl">
<ion-button fill="clear" class="back-btn" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <div class="shop-header ion-text-center ion-padding">
    <img
      [src]="shop_logo"
      alt="{{ shop_name }}"
      class="shop-logo"
    />
    <h2>{{ shop_name  }}</h2>
    <p class="shop-address"> {{ shop_addresses }}</p>

    <div class="shop-phones">
      <ion-chip *ngFor="let phone of shop_phones">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>{{ phone }}</ion-label>
      </ion-chip>
    </div>

    <!-- Соцмережі -->
    <div *ngIf="shop_socials?.length" class="shop-socials ion-margin-top">
      <h4>{{ shop_name }} в соціальних мережах:</h4>
      <div class="links">
      <ion-button
        *ngFor="let social of shop_socials"
        fill="clear"
        size="small"
        [href]="social.url"
        target="_blank"
      >
      <img *ngIf="social.image" src="{{social.image}}" class="social-icon">
      </ion-button>
     </div>
    </div>
  </div>

  <!-- Опис магазину -->
  <ion-card>
    <ion-card-content>
      <div [innerHTML]="shop_description"></div>
    </ion-card-content>
  </ion-card>

  <!-- Знижки -->
  <ion-list *ngIf="discounts?.length">
    <ion-list-header>
      <ion-label>Акційні пропозиції</ion-label>
    </ion-list-header>

  <!----->
  <div class="slider-wrapper" *ngIf="discounts">
    <swiper-container
      slides-per-view="auto"
      centered-slides="true"
      space-between="10"
      pagination='{"el": ".swiper-pagination", "clickable": true}'
      autoplay="true"
      autoplay-delay="3000"
      loop="true"
      initial-slide="1">
      <swiper-slide *ngFor="let discount of discounts">
        <ion-card class="slide-card">
          <img [src]="discount.image" class="slide-image" />
          <div class="discount-badge">{{ discount.percent_raw }}% OFF</div>
          <ion-card-header>
            <ion-card-title>{{ discount.name }}</ion-card-title>
            <ion-card-subtitle>{{ discount.address }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="openDiscount(discount.discount_id)" expand="block" fill="solid" color="primary">
              Go
            </ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
    <div class="swiper-pagination"></div>
  </div>
  <!----->

  </ion-list>
</ion-content>


<ng-template #notFound>
    <p class="ion-text-center">Магазин не знайдено.</p>
</ng-template>

<ng-template #loadingTpl>
  <ion-content class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Завантаження...</p>
  </ion-content>
</ng-template>