<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button><ion-icon name="add"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>{{discount_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!loading; else loadingTpl" class="ion-padding">

  <ng-container *ngIf="discount; else notFound">
    <ion-card>
      <img *ngIf="discount.image" [src]="discount.image" alt="{{ discount.name }}">
      <ion-card-header>
        <ion-card-title>{{ discount.name }}</ion-card-title>
        <ion-card-subtitle>{{ discount.category }}</ion-card-subtitle>
        <ion-card-subtitle>{{ discount.shop_name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="discount.description"></p>
        <h3>Знижка: {{ discount.percent }}</h3>
        <h3>Період дії: {{ discount.date_start }} - {{ discount.date_end }}</h3>
        <h3>Адреса: {{ discount.address }}</h3>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="discount.shop_id; else notFound" class="ion-margin-top">
    <ion-card>
      <img *ngIf="discount.shop_logo" [src]="discount.shop_logo" alt="{{ discount.shop_name }}">
      <ion-card-header>
        <ion-card-title>{{ discount.shop_name }}</ion-card-title>
        <ion-card-subtitle>{{ discount.shop_addresses }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let phone of discount.shop_phones">
              <ion-icon slot="start" name="call-outline"></ion-icon>
            <ion-label>{{phone}}</ion-label>
          </ion-item>
          <ion-item *ngFor="let social of discount.shop_socials">
              <ion-icon name="call-outline"></ion-icon>
            <ion-label>{{social}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button (click)="openShop(discount.shop_id)" fill="outline" expand="block">
          <ion-icon slot="start" name="bag-check-outline"></ion-icon>
          Перейти до магазину</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addDiscountToMyList(discount.discount_id)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

  <ng-template #notFound>
    <p class="ion-text-center">Знижку не знайдено.</p>
  </ng-template>

</ion-content>

<ng-template #loadingTpl>
  <ion-content class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Завантаження...</p>
  </ion-content>
</ng-template>