<ion-header class="ion-no-border">
  <div class="header-container" [class.hidden]="hideHeader" [class.scrolled]="isScrolled">
    <div class="header-top">
      <img src="assets/icon/logo/Logo_GreenLight_White_G.png" alt="GreenLight Logo" class="header-logo-img" />
      <div class="header-icons">
       
        
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding animated-background" [style.--padding-top]="head_height + 'px'">
  <div class="need-pay" *ngIf="!is_active_user">
    <img src="assets/icon/tab5_icon_emoji.svg" alt="Buy plan icon" class="buy-plan-img" />
    <div class="text-buy">
      <p>{{ 'BUY_PLAN_TO_START' | translate }}</p>
      <ion-button (click)="openRefDescription()" expand="block" color="primary" slot="center" class="ion-margin-top">
        {{ 'ABOUT_REF_PROG' | translate }}
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="need-auth" *ngIf="!is_auth_user">
    <ion-button (click)="openAuth()" expand="block" color="primary"> <ion-icon name="log-in-outline"></ion-icon>
      {{ 'ENTER_TO_ACC' | translate }}
    </ion-button>  
  </div>
  
  <div class="my-earnings" *ngIf="is_active_user">
    <div class="hello-text">
      <img src="assets/icon/tab5_icon_hi.svg">
      <span>{{ 'HELLO' | translate }}, {{ fullname }}!</span></div>
    <div class="card-top">
      <div class="balance-top">
        <span class="text-amount">{{ 'YOUR_BALANCE' | translate }}</span>
        <span class="amount">{{ my_balance }} {{ plan_currency }}</span>
      </div>
      <div class="balance-bottom">
        <div class="left-section">
          <ion-icon name="add-outline"></ion-icon>
          <div class="text">
            <small>{{ 'EARN_TEXT' | translate }}</small>
            <span>{{ earning_amount }} <small>{{ plan_currency }}</small></span>
          </div>
        </div>
        <div class="right-section">
          <ion-icon name="remove-outline"></ion-icon>
          <div class="text">
            <small>{{ 'PAYOUT_TEXT' | translate }}</small>
            <span>{{ payout_amount }} <small>{{ plan_currency }}</small></span>
          </div>
        </div>
      </div>
    </div>

    <div (click)="setAboutStyle(true)" class="glc-button ion-margin-top">
      <span>Green Light Coin <ion-icon name="chevron-forward-outline"></ion-icon></span> <span><ion-icon name="wallet-outline"></ion-icon> {{ glc_balance }} {{ glc_coin_symbol }}</span>
    </div>

    <div class="about-glc-token" *ngIf="about_crypto_display">
      <div class="header">
        <h4>GLC coin</h4>
        <span (click)="setAboutStyle(false)" class="close-about"><ion-icon name="close-outline"></ion-icon></span>
      </div>
      <div *ngIf="wallet_address == ''" class="note-empty-wallet">
        <div class="text-note-with-icon">
        <ion-icon name="settings-outline"></ion-icon>
        <p>{{ 'GLC_TEXT_NOTE_1' | translate }} {{ glc_token_mint_amount }} {{ glc_coin_symbol }}. <br>
          {{ 'GLC_TEXT_NOTE_2' | translate }}
          <br>
          <ion-button size="small" (click)="openCryptoDescription()">{{ 'GLC_TEXT_DETAILS' | translate}}  <ion-icon slot="end" name="open-outline"></ion-icon></ion-button>
        </p>
        
        </div>
      </div>
      <div class="about-body" *ngIf="wallet_address">
        <div class="ab-item">
          <span class="heading">{{ 'GLC_TEXT_WALLET_ADDRESS' | translate }}</span>
          <p>{{ wallet_address }} <ion-icon name="copy-outline" (click)="copy(wallet_address)"></ion-icon></p>
        </div>
        <div class="ab-item">
          <span class="heading">{{ 'GLC_TEXT_WALLET_CHAIN' | translate }}</span>
          <p>{{ wallet_chain }}</p>
        </div>
        <div class="ab-item">
          <span class="heading">{{ 'GLC_TEXT_YOUR_BALANCE' | translate }}</span>
          <p><b>{{ glc_balance }} </b> <small>{{ glc_coin_symbol }}</small></p>
        </div>
        <div class="ab-item" *ngIf="balance_usdt">
          <span class="heading">{{ 'GLC_TEXT_YOUR_BALANCE_IN' | translate }} USDT</span>
          <p><b>{{ balance_usdt }} </b> <small>USDT</small></p>
        </div>
        <div class="ab-item">
          <span class="heading">{{ 'GLC_TEXT_LAST_UPDATED' | translate }}</span>
          <p><b>{{ balance_updated_at }}</b> </p>
        </div>
        <div class="ab-item">
          <span class="heading">{{ 'GLC_TEXT_TOTAL_SUPPLY' | translate }}</span>
          <p><b>{{ total_supply }} </b> <small>{{ glc_coin_symbol }}</small></p>
        </div>
        <div class="about-c-transactions" *ngIf="glc_transactions">
          <h5>{{ 'GLC_TEXT_LATEST_TRANSACTIONS' | translate }}</h5>
          <div class="transactions-glc">
          <div *ngFor="let transcation of glc_transactions" class="transaction-item">
              <div class="headline"><h5>{{transcation.type}}</h5> <span class="date">{{ transcation.date }}</span></div>
              <p class="transcation-amount">{{ 'GLC_TEXT_AMOUNT' | translate }}: {{ transcation.amount }} </p>
              <p class="transcation-id">{{ 'GLC_TEXT_TX_ID' | translate }}: {{ transcation.tx }} <ion-icon name="copy-outline" (click)="copy(transcation.tx)"></ion-icon></p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="last-transactions ion-margin-top">
      <h5>{{ 'LATEST_TRANSACTIONS' | translate }}</h5>

      <p *ngIf="!transactions" class="ion-margin-bottom ion-margin-top" style="text-align: center;">{{ 'EMPTY_TRANSACTIONS' | translate }}</p>
      <div class="transactions">
      <div *ngFor="let transcation of transactions" class="transaction-item">
          <div class="headline"><span class="date">{{ transcation.date_added }}</span><h5>{{transcation.comment}}</h5></div>
          <div class="bottom-row">
          <span class="status status-color-{{transcation.bg_color}}">{{ transcation.text_status }}</span>
          <p class="transcation-amount">{{ transcation.amount }} <small>{{ plan_currency }}</small></p>
          </div> 
      </div>
    </div>
    </div>  
  </div>  

</ion-content>
