<ion-header class="ion-no-border">
  <div class="header-container" [class.hidden]="hideHeader" [class.scrolled]="isScrolled">
    <div class="header-top">
      <img src="assets/icon/logo/Logo_GreenLight_White_G.png" alt="GreenLight Logo" class="header-logo-img" />
      <div class="header-icons">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button id="language-popover-button" (click)="isLanguageOpen = true">
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>{{ selectedLanguage }}</ion-label>
        </ion-button>
        <ion-popover trigger="language-popover-button" [isOpen]="isLanguageOpen" (didDismiss)="isLanguageOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let language of languages$" button (click)="selectLanguage(language); isLanguageOpen = false">
                  {{ language.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button id="country-popover-button" (click)="isCountryOpen = true">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>{{ selectedCountry }}</ion-label>
        </ion-button>
        <ion-popover trigger="country-popover-button" [isOpen]="isCountryOpen" (didDismiss)="isCountryOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let country of countries$" button (click)="selectCountry(country); isCountryOpen = false">
                  {{ country.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="currentView === 'main'">
  <div class="hello-block">
    <h3>Привіт, {{ fullname }}!</h3>
  </div>
  <div class="buy-a-plan">
    <span>Придбайте тариф, щоб відчути всі переваги!</span>
    <span class="amount"><small>Всього</small> 500 USDT</span>
    <span class="ref-prog">Станьте учасником реферальної програми!</span>
  </div>
  <div class="links">

    <span (click)="buyPlane()" class="btn-link btn-buy">
      <ion-icon name="flash-outline"></ion-icon>
      <span>Придбати тариф</span>
    </span>

    <span (click)="switchView('edit')" class="btn-link">
      <ion-icon name="pencil-outline"></ion-icon>
      <span>Редагувати профіль</span>
    </span>
    <span class="btn-link">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <span>Мій баланс</span>
    </span>
    <span class="btn-link">
      <ion-icon name="list-outline"></ion-icon>
      <span>Транзакції</span>
    </span>
    <span (click)="getMyPurchases()" class="btn-link">
      <ion-icon name="cart-outline"></ion-icon>
      <span>Мої покупки</span>
    </span>
    <span class="btn-link">
      <ion-icon name="star-outline"></ion-icon>
      <span>Вивести кошти</span>
    </span>
    <span class="btn-link">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Вихід</span>
    </span>
    <span class="btn-link btn-danger">
      <ion-icon name="trash-outline"></ion-icon>
      <span>Видалити обліковий запис</span>
    </span>
  </div>
  <div class="my-code dark-bg ion-margin-top">
    <h4>Ваш реферальний код</h4>
    <span class="copy-code">
      <ion-icon (click)="copy('cd')" class="copy-icon" name="copy-outline"></ion-icon>
      bc49ab3ad20e</span>
    <h4>Посилання</h4>
    <span class="copy-code">
      <ion-icon (click)="copy('cd')" class="copy-icon" name="copy-outline"></ion-icon>
      bc49ab3ad20e</span>
  </div>
  <div class="my-ref-count dark-bg with-icon ion-margin-top">
    <ion-icon name="people-outline"></ion-icon>
    <h4>У вас 0 рефералів</h4>
  </div>
  <div class="my-balance dark-bg with-icon ion-margin-top">
    <ion-icon name="cash-outline"></ion-icon>
    <h4>Ви накопичили 0 USDT</h4>
  </div>
</div>
<div *ngIf="currentView === 'edit'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>Редагувати профіль</h3>
  </div>

  <div class="inner-content">
    <div class="input-item">
        <ion-input [(ngModel)]="formData.fullname" labelPlacement="floating" value="{{fullname}}">
          <div slot="label">Повне ім'я <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.username" labelPlacement="floating" value="{{email}}">
          <div slot="label">Email <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.password" labelPlacement="floating" type="password" value="">
          <div slot="label">Пароль</div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.confirm_password" labelPlacement="floating" type="password" value="">
          <div slot="label">Повторіть пароль</div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
    </div>
    <div>
    <small>Якщо ви не бажаєте змінити пароль - просто залиште поле порожнім</small>
    </div>
    <ion-button (click)="updateProfile()" class="ion-margin-top">Зберегти</ion-button>
  </div>

</div>

<div *ngIf="currentView === 'purchases'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>Мої покупки</h3>
  </div>
  <div class="inner-content">
    <ion-loading isOpen="showLoading" message="Завантаження..." duration="1000"></ion-loading>

    <div class="my-purchases">
      <div *ngFor="let purchase of purchases" class="purchase-item">
          <div class="main-img">
            <img src="{{purchase.image}}">
          </div>
          <div class="caption">
            <h5>{{ purchase.name }}</h5>
            <span class="code">Код: <b>{{ purchase.code }}</b> <ion-icon (click)="copy(purchase.code)" class="copy-icon" name="copy-outline"></ion-icon></span>
            <span class="date">Період дії: {{purchase.date_start}} - {{purchase.date_end}}</span>
            <ion-buttons>
            <ion-button (click)="openQr(purchase.qr)" fill="solid" color="primary" slot="start">QR</ion-button>
            <ion-button (click)="openDiscount(purchase.id)" fill="solid" color="primary" slot="start">Відкрити</ion-button>
            <ion-button (click)="deletePurchase(purchase.id)" fill="solid" slot="end" color="danger" size="small">Видалити</ion-button>
            </ion-buttons>
          </div>
      </div>
    </div>

    <div class="show-qr">
      <div class="headline"></div>
    </div>

  </div>
</div>

</ion-content>
