/*for header*/ 
ion-header {
  box-shadow: none;
  --box-shadow: none;
}

.header-container {
  background-color: #2e2e2e;
  padding: 16px;
  color: white;
  transition: all 0.3s ease-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.scrolled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.hidden .header-bottom {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  height: 40px;
}

.header-icons {
  display: flex;
  align-items: center;

  ion-button {
    --background: rgba(255, 255, 255, 0.2);
    --background-activated: rgba(255, 255, 255, 0.3);
    --background-focused: rgba(255, 255, 255, 0.3);
    --background-hover: rgba(255, 255, 255, 0.3);
    --color: white;
    --border-radius: 10px;
    height: 40px;
   
    min-width: 40px; /* Ensure it's at least 40px wide */
  }
}
ion-footer {
    background: #fff;
    border-radius: 15px;
    padding: 10px 5px;
}
.hello-block {
    text-align: center;
}
.buy-a-plan {
    background: #474747;
    background: linear-gradient(39deg, rgba(71, 71, 71, 1) 0%, rgba(47, 199, 76, 1) 100%);
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0px 10px 15px #00000047;
    text-align: center;
}
.buy-a-plan span.amount small{
  font-size: 65%;
  font-weight: 100;
}
.buy-a-plan span.amount {
    text-align: center;
    display: block;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 47px;
}
.buy-a-plan span.ref-prog {
    font-weight: 100;
    text-align: center;
    display: block;
}

span.btn-link.btn-buy {
    background: #474747;
    background: linear-gradient(39deg, rgb(71, 71, 71) 0%, rgb(47, 199, 76) 100%);
    color: #fff;
}
span.btn-link {
    display: block;
    margin: 10px 0px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}
span.btn-link span {
    padding-left: 10px;
}
span.btn-link.btn-danger {
    background: #F44336;
    color: #fff;
    display: table;
    font-size: .7rem;
    margin-left: auto;
    margin-right: auto;
}

ion-content {
  --padding-bottom: 80px; /* або стільки, скільки висота твоїх табів */
}

.dark-bg > h4:first-child {
  margin-top: 0px;
}
.dark-bg {
    background: #474747;
    background: linear-gradient(39deg, rgb(71, 71, 71) 0%, rgb(47, 199, 76) 100%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2784313725);
    text-align: center;
}
.with-icon.dark-bg {
    display: flex;
    align-items: center;
    gap: 18px;
}
.with-icon.dark-bg ion-icon {
    font-size: 2.5rem;
}
.hello-pages ion-icon{
  font-size: 1.5rem;
}
.hello-pages {
    display: flex;
    align-items: center;
    gap: 15px;
}
.inner-content {
    background: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2784313725);
}

.purchase-item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    gap: 10px;
    align-items: center;
}
.purchase-item .main-img {
    max-width: 25%;
}
.purchase-item .caption span.code {
    display: block;
    margin-bottom: 10px;
}
.purchase-item .caption span.date {
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}
.show-qr.show {display:block}
.show-qr {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 40px;
    display: none;
}
.show-qr .headline span.code {
    font-size: 1rem;
}
.show-qr img {
    width: 80%;
    display: block;
    max-width: 100%;
    margin: auto;
}
.show-qr .headline {
    padding-top: 56px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.purchase-item span.code ion-icon.copy-icon {
    margin-left: 10px;
    vertical-align: top;
}