<ion-header class="ion-no-border">
  <div class="header-container" [class.hidden]="hideHeader" [class.scrolled]="isScrolled">
    <div class="header-top">
      <img src="assets/icon/logo/Logo_GreenLight_White_G.png" alt="GreenLight Logo" class="header-logo-img" />
      <div class="header-icons">
        
        <ion-button id="language-popover-button" (click)="isLanguageOpen = true">
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>{{ selectedLanguage }}</ion-label>
        </ion-button>
        <ion-popover trigger="language-popover-button" [isOpen]="isLanguageOpen" (didDismiss)="isLanguageOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let language of languages$" button (click)="selectLanguage(language); isLanguageOpen = false">
                  {{ language.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
       
        
        <ion-button (click)="switchView('edit')" class="menu-button-green">
          <ion-icon slot="person-outline" name="menu-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="currentView === 'main'">
  <div class="hello-block">
    <h3>{{ 'HELLO' | translate }}, {{ fullname }}!</h3>
  </div>
  <div class="buy-a-plan" *ngIf="!is_active_user">
    <span>{{ 'BUY_PLAN_TO_EARN' | translate }}</span>
    <span class="amount"><small>{{ 'TEXT_TOTAL' | translate }}</small> {{ plan_amount }} {{ plan_currency }}</span>
    <span class="ref-prog">{{ 'BE_A_MEMBER' | translate }}</span>
  </div>
  <div class="links">

    <span *ngIf="!is_active_user" (click)="buyPlane()" class="btn-link btn-buy">
      <ion-icon name="flash-outline"></ion-icon>
      <span>{{ 'BUY_PLANE' | translate }}</span>
    </span>

    <span (click)="switchView('edit')" class="btn-link">
      <ion-icon name="pencil-outline"></ion-icon>
      <span>{{ 'EDIT_PROFILE' | translate }}</span>
    </span>
    <span (click)="getMyTransaction()" class="btn-link">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <span>{{ 'MY_BALANCE' | translate }}</span>
    </span>
    <span (click)="getMyPurchases()" class="btn-link">
      <ion-icon name="cart-outline"></ion-icon>
      <span>{{ 'MY_DISCOUNTS' | translate }}</span>
    </span>
    <span (click)="switchView('payout')" class="btn-link">
      <ion-icon name="star-outline"></ion-icon>
      <span>{{ 'MAKE_PAYOUT' | translate }}</span>
    </span>
    <span (click)="openRefDescription()" class="btn-link">
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <span>{{ 'ABOUT_REF_PROG' | translate }}</span>
    </span>
    <span (click)="logout()" class="btn-link">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>{{ 'TEXT_LOGOUT' | translate }}</span>
    </span>
    <span (click)="showConfirmDeleteAccount()" class="btn-link btn-danger">
      <ion-icon name="trash-outline"></ion-icon>
      <span>{{ 'TEXT_DEL_ACC' | translate }}</span>
    </span>
  </div>
  <div class="deleteMyAccoutNotice" *ngIf="showDelAccNototify">
    <h4>{{ 'DEL_ACC_HEADER' | translate }}</h4>
    <p>{{ 'DEL_ACC_DESC' | translate }}</p>
    <ion-buttons>
      <ion-button slot="start" (click)="cancelDelAccount()" color="primary"> {{ 'TEXT_CANCEL' | translate }}</ion-button>
      <ion-button slot="end" (click)="approvedDelAccount()" color="danger">{{ 'TEXT_APPLY' | translate }}</ion-button>
    </ion-buttons>
  </div>

  <div *ngIf="is_active_user" class="my-code dark-bg ion-margin-top">
    <h4>{{ 'TEXT_YOUR_REF_CODE' | translate }}</h4>
    <span class="copy-code">
      <ion-icon (click)="copy(ref_code)" class="copy-icon" name="copy-outline"></ion-icon>
      {{ref_code}}</span>
    <h4>{{ 'TEXT_LINK' | translate }}</h4>
    <span class="copy-code">
      <ion-icon (click)="copy(ref_link)" class="copy-icon" name="copy-outline"></ion-icon>
      {{ ref_link }}</span>
      <small *ngIf="!is_active_user"><br><br>{{ 'TEXT_NOTICE_PLANE' | translate }}</small>
  </div>
  <div class="my-ref-count dark-bg with-icon ion-margin-top">
    <ion-icon name="people-outline"></ion-icon>
    <h4>{{ 'TEXT_YOU_HAVE' | translate }} <b>{{ count_referals }}</b> {{ 'TEXT_SUBSCRIBERS' | translate }}</h4>
  </div>
  <div class="my-balance dark-bg with-icon ion-margin-top">
    <ion-icon name="cash-outline"></ion-icon>
    <h4>{{ 'TEXT_YOU_EARN' | translate }} {{ max_payout_amount }} {{ plan_currency }}</h4>
  </div>
</div>
<div *ngIf="currentView === 'edit'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>{{ 'EDIT_PROFILE' | translate }}</h3>
  </div>

  <div class="inner-content">
    <div class="input-item">
        <ion-input [(ngModel)]="formData.fullname" labelPlacement="floating" value="{{fullname}}">
          <div slot="label">{{ 'TEXT_FULLNAME' | translate }} <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.username" labelPlacement="floating" value="{{email}}">
          <div slot="label">Email <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.password" labelPlacement="floating" type="password" value="">
          <div slot="label">{{ 'TEXT_PASSWORD' | translate }}</div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input [(ngModel)]="formData.confirm_password" labelPlacement="floating" type="password" value="">
          <div slot="label">{{ 'TEXT_CONFIRM_PASSWORD' | translate }}</div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
    </div>
    <div>
    <small>{{ 'TEXT_PASSWORD_NOTE' | translate }}</small>
    </div>
    <ion-button (click)="updateProfile()" class="ion-margin-top">{{ 'TEXT_SAVE' | translate }}</ion-button>
  </div>

</div>

<div *ngIf="currentView === 'purchases'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>{{ 'TEXT_MY_PURCHASES' | translate }}</h3>
  </div>
  <div class="inner-content">
    <ion-loading isOpen="showLoading" message="{{ 'TEXT_LOADING' | translate }}" duration="1000"></ion-loading>

    <div class="my-purchases">
      <div *ngFor="let purchase of purchases" class="purchase-item">
          <div class="main-img">
            <img src="{{purchase.image}}">
          </div>
          <div class="caption">
            <h5>{{ purchase.name }}</h5>
            <span class="code">Код: <b>{{ purchase.code }}</b> <ion-icon (click)="copy(purchase.code)" class="copy-icon" name="copy-outline"></ion-icon></span>
            <span class="date">Період дії: {{purchase.date_start}} - {{purchase.date_end}}</span>
            <ion-buttons>
            <ion-button (click)="showPopup(purchase.qr, purchase.code)" fill="solid" color="primary" slot="start">QR</ion-button>
            <ion-button (click)="openDiscount(purchase.id)" fill="solid" color="primary" slot="start">{{ 'TEXT_OPEN' | translate }}</ion-button>
            <ion-button (click)="deletePurchase(purchase.id)" fill="solid" slot="end" color="danger" size="small">{{ 'TEXT_DELETE' | translate }}</ion-button>
            </ion-buttons>
          </div>
      </div>
    </div>

    <div class="show-qr {{ popupClass }}">
      <div class="headline">
        <span class="code">{{ 'TEXT_CODE' | translate }}: <b>{{ popupCode }}</b></span>
        <ion-icon (click)="hidePopUp()" name="close-outline"></ion-icon>
      </div>
      <div class="img-box">
        <img src="{{popupImg}}">
      </div>
    </div>

  </div>
</div>

<div *ngIf="currentView === 'payout'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>{{ 'MAKE_PAYOUT' | translate }}</h3>
  </div>
  <div class="inner-content">
    <h5>{{ 'TEXT_MAX_AMOUNT' | translate }}: <span>{{ max_payout_amount }}</span> {{ plan_currency }}</h5>
    <p>{{ 'TEXT_NOTE_PAYOUT' | translate }} {{ plan_currency }} {{ 'TEXT_NOTE_PAYOUT_1' | translate }} {{ plan_currency_type }}, {{ 'TEXT_NOTE_PAYOUT_2' | translate }}.</p>
    <br>
    <div class="input-item">
        <ion-input [(ngModel)]="wallet_address" labelPlacement="floating" value="">
          <div slot="label">{{ 'TEXT_WALLET_ADDRESS' | translate }} <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
    <div class="input-item">
        <ion-input type="number" [(ngModel)]="wallet_amount" labelPlacement="floating" value="">
          <div slot="label">{{ 'TEXT_AMOUNT_FOR_PAYOUT' | translate }} <ion-text color="danger">*</ion-text></div>
        </ion-input>
    </div>
  <br>
  <ion-button (click)="createPayout()" class="ion-margin-top">{{ 'TEXT_APPLY' | translate }}</ion-button>
  </div>
</div>

<div *ngIf="currentView === 'balance'">
  <div class="hello-pages">
    <ion-icon (click)="switchView('main')" name="arrow-back-outline"></ion-icon>
    <h3>{{ 'MY_BALANCE' | translate }}</h3>
  </div>

  <div class="my-balance dark-bg with-icon ion-margin-top ion-margin-bottom">
    <ion-icon name="cash-outline"></ion-icon>
    <h4>{{ 'TEXT_YOU_EARN' | translate }} {{ max_payout_amount }} {{ plan_currency }}</h4>
  </div>

  <div class="inner-content">
    <p *ngIf="!is_active_user">{{ 'TEXT_NOTE_REF_PROG' | translate }}
      <ion-text (click)="openRefDescription()" color="primary">{{ 'TEXT_NOTE_REF_DETAIL' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </p>

    <p *ngIf="!transactions" class="ion-margin-bottom ion-margin-top" style="text-align: center;">{{ 'EMPTY_TRANSACTIONS' | translate }}</p>

    <h4 *ngIf="transactions" class="ion-margin-top ion-margin-bottom" style="text-align: center;">{{ 'LATEST_TRANSACTIONS' | translate }}</h4>
    <div class="transactions">
      <div *ngFor="let transcation of transactions" class="transaction-item">
          <div class="headline"><span class="date">{{ transcation.date_added }}</span><h5>{{transcation.comment}}</h5></div>
          <div class="bottom-row">
          <span class="status status-color-{{transcation.bg_color}}">{{ transcation.text_status }}</span>
          <p class="transcation-amount">{{ transcation.amount }} <small>{{ plan_currency }}</small></p>
          </div> 
      </div>
    </div>


  </div>
</div>

</ion-content>
