<ion-header class="ion-no-border">
  <div class="header-container" [class.hidden]="hideHeader" [class.scrolled]="isScrolled">
    <div class="header-top">
      <img src="assets/icon/logo/Logo_GreenLight_White_G.png" alt="GreenLight Logo" class="header-logo-img" />
      <div class="header-icons">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button id="language-popover-button" (click)="isLanguageOpen = true">
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>{{ selectedLanguage }}</ion-label>
        </ion-button>
        <ion-popover trigger="language-popover-button" [isOpen]="isLanguageOpen" (didDismiss)="isLanguageOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let language of languages$" button (click)="selectLanguage(language); isLanguageOpen = false">
                  {{ language.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button id="country-popover-button" (click)="isCountryOpen = true">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>{{ selectedCountry }}</ion-label>
        </ion-button>
        <ion-popover trigger="country-popover-button" [isOpen]="isCountryOpen" (didDismiss)="isCountryOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let country of countries$" button (click)="selectCountry(country); isCountryOpen = false">
                  {{ country.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'TEXT_CATALOG_COMPANIES' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      fill="solid"
      [clearInput]="true"
      placeholder="{{ 'TEXT_SEARCH_BY_NAME' | translate }}"
      value=""
      (ionInput)="searchByKeyword($event)"
    >
    </ion-input>
  </ion-item>
  </ion-list>


  <!-- Shops Grid -->
  <div class="products-section" *ngIf="shops$ && shops$.length > 0; else noData">
  <div class="man-top ion-padding">
      <div>{{ 'TEXT_TOTAL_COMPANIES' | translate }}: {{ count_shops }}</div>
      <ion-buttons >
        <ion-button fill="outline" (click)="toggleView('list')" [color]="viewMode === 'list' ? 'dark' : 'medium'">
          <ion-icon name="list-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="toggleView('grid')" [color]="viewMode === 'grid' ? 'dark' : 'medium'">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </div>

    <div class="products-grid" [ngClass]="{'grid-view': viewMode === 'grid', 'list-view': viewMode === 'list'}">
      <ion-card *ngFor="let shop of shops$" class="product-card">
        <span class="count-special" *ngIf="shop.count_discount">{{ shop.count_discount }} Акцій</span>
        <img [src]="shop.shop_logo" [alt]="shop.shop_name" />
        <ion-card-header>
          <ion-card-subtitle>{{ shop.category }}</ion-card-subtitle>
          <ion-card-title>{{ shop.shop_name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="product-description">{{ shop.shop_addresses }}</p>
          <div class="product-footer">
            <ion-button (click)="openShop(shop.shop_id)" fill="solid" size="small">
              {{ 'TEXT_OPEN' | translate }}
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="ion-text-center ion-padding">
    <ion-button class="loadMoreButton" *ngIf="page < totalPages && !isLoading" (click)="loadMore()">
      {{ 'TEXT_LOAD_MORE' | translate }}
    </ion-button>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  </div>

  
  <ng-template #noData >
    <div class="no-results">
    <svg width="100px" height="100px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="_x3C_Layer_x3E_" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<g id="search_x2C__magnifier_x2C__magnifying_x2C__emoji_x2C__happy">

<g id="XMLID_1949_">

<g id="XMLID_2132_">

<path d="M12,14.521h2c0,0.55-0.45,1-1,1S12,15.07,12,14.521z" fill="#263238" id="XMLID_2137_"/>

<path d="M17.5,13c0.27,0,0.5,0.23,0.5,0.5S17.77,14,17.5,14S17,13.77,17,13.5S17.23,13,17.5,13z     " fill="#263238" id="XMLID_2134_"/>

<path d="M8.5,13C8.77,13,9,13.23,9,13.5S8.77,14,8.5,14S8,13.77,8,13.5S8.23,13,8.5,13z" fill="#263238" id="XMLID_2133_"/>

</g>

</g>

<g id="XMLID_1838_">

<g id="XMLID_4088_">

<line fill="none" id="XMLID_4094_" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.43" x2="21.214" y1="23.401" y2="21.186"/>

<path d="     M29.914,27.086l-3.5-3.5c-0.756-0.756-2.072-0.756-2.828,0C23.208,23.964,23,24.466,23,25s0.208,1.036,0.586,1.414l3.5,3.5     c0.378,0.378,0.88,0.586,1.414,0.586s1.036-0.208,1.414-0.586S30.5,29.034,30.5,28.5S30.292,27.464,29.914,27.086z" fill="none" id="XMLID_4093_" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<circle cx="13" cy="13" fill="none" id="XMLID_4092_" r="11.5" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M12,14.521h2c0,0.55-0.45,1-1,1S12,15.07,12,14.521z" fill="none" id="XMLID_4091_" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M17.5,13c0.27,0,0.5,0.23,0.5,0.5S17.77,14,17.5,14S17,13.77,17,13.5S17.23,13,17.5,13z" fill="none" id="XMLID_4090_" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M8.5,13C8.77,13,9,13.23,9,13.5S8.77,14,8.5,14S8,13.77,8,13.5S8.23,13,8.5,13z" fill="none" id="XMLID_4089_" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

</g>

<g id="XMLID_3004_">

<line fill="none" id="XMLID_4087_" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.43" x2="21.214" y1="23.401" y2="21.186"/>

<path d="     M29.914,27.086l-3.5-3.5c-0.756-0.756-2.072-0.756-2.828,0C23.208,23.964,23,24.466,23,25s0.208,1.036,0.586,1.414l3.5,3.5     c0.378,0.378,0.88,0.586,1.414,0.586s1.036-0.208,1.414-0.586S30.5,29.034,30.5,28.5S30.292,27.464,29.914,27.086z" fill="none" id="XMLID_3009_" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<circle cx="13" cy="13" fill="none" id="XMLID_3008_" r="11.5" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M12,14.521h2c0,0.55-0.45,1-1,1S12,15.07,12,14.521z" fill="none" id="XMLID_3007_" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M17.5,13c0.27,0,0.5,0.23,0.5,0.5S17.77,14,17.5,14S17,13.77,17,13.5S17.23,13,17.5,13z" fill="none" id="XMLID_3006_" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

<path d="     M8.5,13C8.77,13,9,13.23,9,13.5S8.77,14,8.5,14S8,13.77,8,13.5S8.23,13,8.5,13z" fill="none" id="XMLID_3005_" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>

</g>

</g>

</g>

</svg>
    <ion-label color="medium">{{ 'TEXT_EMPTY_RESULT' | translate }}</ion-label>
    </div>
  </ng-template>
</ion-content>
