/*for header*/ 
ion-header {
  box-shadow: none;
  --box-shadow: none;
}
.search-bar-list {
  
  background: none;
  margin: 10px 16px;

}
.img-shop {
  border-radius: 15px;
  padding: 16px;
  display: block; /* Ensure the image behaves as a block element */
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}
.search-bar-list ion-input {
  --background: #585858;
  --color: white;
  --placeholder-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 8px 12px;
  border-bottom: none;
} 
.man-top ion-button {
    --background: rgba(255, 255, 255, 0.2);
    --background-activated: rgba(255, 255, 255, 0.3);
    --background-focused: rgba(255, 255, 255, 0.3);
    --background-hover: rgba(255, 255, 255, 0.3);
    --color: white;
    --border-radius: 10px;
    height: 40px;
   
    min-width: 40px; /* Ensure it's at least 40px wide */
}
.header-container {
  background-color: #2e2e2e;
  padding: 16px;
  color: white;
  transition: all 0.3s ease-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.scrolled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.hidden .header-bottom {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  height: 40px;
}

.header-icons {
  display: flex;
  align-items: center;

  ion-button {
    --background: rgba(255, 255, 255, 0.2);
    --background-activated: rgba(255, 255, 255, 0.3);
    --background-focused: rgba(255, 255, 255, 0.3);
    --background-hover: rgba(255, 255, 255, 0.3);
    --color: white;
    --border-radius: 10px;
    height: 40px;
   
    min-width: 40px; /* Ensure it's at least 40px wide */
  }
}
.man-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-radius: 12px;
    padding-top: 5px;
}
.loadMoreButton{
    margin-bottom: 65px;
  }
    ion-card {
    background: #2e2e2e;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  ion-card-content {
    padding: 0 16px 16px 16px;
    

    ion-button {
      --border-radius: 10px;
      height: 40px;
      font-size: 1em;
      font-weight: 600;
    }
  }
  span.count-special {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #2fc74c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.no-results {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.grid-view, .list-view {
  transition: all 0.3s ease;
}
.grid-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products-section {
  padding-bottom: 80px; /* Add bottom padding to create space above the navigation bar */
}
