<ion-header class="ion-no-border">
  <div class="header-container" [class.hidden]="hideHeader" [class.scrolled]="isScrolled">
    <div class="header-top">
      <img src="assets/icon/logo/Logo_GreenLight_White_G.png" alt="GreenLight Logo" class="header-logo-img" />
      <div class="header-icons">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button id="language-popover-button" (click)="isLanguageOpen = true">
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>{{ selectedLanguage }}</ion-label>
        </ion-button>
        <ion-popover trigger="language-popover-button" [isOpen]="isLanguageOpen" (didDismiss)="isLanguageOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let language of languages$" button (click)="selectLanguage(language); isLanguageOpen = false">
                  {{ language.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button id="country-popover-button" (click)="isCountryOpen = true">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>{{ selectedCountry }}</ion-label>
        </ion-button>
        <ion-popover trigger="country-popover-button" [isOpen]="isCountryOpen" (didDismiss)="isCountryOpen = false">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let country of countries$" button (click)="selectCountry(country); isCountryOpen = false">
                  {{ country.name }}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
   

  <div id="result-block" *ngIf="showResultBlock">
    <ion-card *ngIf="data">
    <ion-card-content>
      <ion-button (click)="hideInfo()" size="small" slot="end" fill="solid" color="danger">
      <ion-icon slot="icon-only" ios="close-outline" md="close-outline"></ion-icon>
    </ion-button>
       <img
      [src]="data.discount_image"
      alt="{{ data.discount_image }}"
      class="discount-image {{ data.user_id > 0 ? 'is_check_icon' : '' }}"
    />
    <ion-card-header *ngIf="data.discount_name">
      <ion-card-title>{{ data.discount_name || 'Title' }}</ion-card-title>
    </ion-card-header>
    <ion-card-header *ngIf="data.custom_title">
      <ion-card-title>{{ data.custom_title }}</ion-card-title>
    </ion-card-header>
      <ion-list>
        <ion-list-header>
      <ion-label>{{ 'TEXT_ABOUT_CUSTOMER' | translate }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label><b>{{ 'TEXT_CUSTOMER_NAME' | translate }}:</b> {{data.name}}</ion-label>
      </ion-item>
      <ion-item *ngIf="data.date_added">
        <ion-label><b>{{ 'TEXT_DATE_ADDED' | translate }}:</b> {{data.date_added}}</ion-label>
      </ion-item>
      <ion-list-header *ngIf="data.percent">
      <ion-label>{{ 'TEXT_INFORMATION_ABOUT_DISCOUNT' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngIf="data.percent">
        <ion-label><b>{{ 'TEXT_SALE_UCFIRST' | translate }}:</b> <span class="sale-percent">-{{data.percent}}%</span></ion-label>
      </ion-item>
      <ion-item *ngIf="data.status && data.status >= 0">
        <ion-label><b>{{ 'TEXT_STATUS' | translate }}:</b> <span class="sale-status st{{data.status}}">{{ data.status == 1 ? 'Active' : 'Disabled' }}</span></ion-label>
      </ion-item>
      <ion-item *ngIf="data.date_start">
        <ion-label><b>{{ 'TEXT_DATE_PERIOD' | translate }}:</b> {{ data.date_start }} - {{ data.date_end }}</ion-label>
      </ion-item>
      <ion-item *ngIf="data.is_online && data.is_online >= 0">
        <ion-label><b>{{ 'TEXT_IS_ONLINE' | translate }}:</b> <span class="sale-online onli{{data.is_online}}">{{ data.is_online == 1 ? 'Yes' : 'No' }}</span></ion-label>
      </ion-item>
      <ion-item *ngIf="data.discount_id">
        <ion-label><b>{{ 'TEXT_DISCOUNT_ID' | translate }}:</b> {{ data.discount_id }}</ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-text color="medium" *ngIf="!data">
    {{ 'TEXT_NO_DATA' | translate }}
  </ion-text>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'TEXT_SCAN_QR' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="startScan()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        {{ 'TEXT_SCAN' | translate }}
      </ion-button>
      <ion-spinner *ngIf="isScanning" class="ion-margin-top"></ion-spinner>
    </ion-card-content>
  </ion-card>

  
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>{{ 'TEXT_ENTER_CODE_MANUALLY' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">{{ 'TEXT_QR_ENTER_CODE' | translate }}</ion-label>
        <ion-input
          [(ngModel)]="manualCode"
          clearInput>
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="secondary"
        class="ion-margin-top"
        (click)="submitManualCode()">
        {{ 'TEXT_CHECK_CODE' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Мій QR код</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="my_qr_code_notice" class="notice">{{ my_qr_code_notice }}</p>
      <ion-item *ngIf="my_qr_code_text">
        <span class="my-code"> {{ my_qr_code_text }} <ion-icon (click)="copy(my_qr_code_text)" class="copy-icon" name="copy-outline"></ion-icon></span>
      </ion-item>
      <ion-button
        expand="block"
        color="secondary"
        class="ion-margin-top"
        (click)="showMyQr()">
        {{ 'TEXT_OPEN' | translate }} QR
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div id="my-qr" *ngIf="is_show_qr">
    <span (click)="showMyQr()" class="close">
      <ion-icon name="close-outline"></ion-icon>
    </span>
    <p *ngIf="my_qr_code_notice" class="notice">{{ my_qr_code_notice }}</p>

    <img src="{{ my_qr_code_url }}" >

    <p class="text-code">{{ my_qr_code_text }}</p>
  </div>


  

</ion-content>
