<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Інформація</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="data">
    <ion-card-content>
       <img
      [src]="data.dicount_image"
      alt="{{ data.discount_name }}"
      class="discount-image"
    />
    <ion-card-header>
      <ion-card-title>{{ data.discount_name || 'Title' }}</ion-card-title>
    </ion-card-header>
      <ion-list>
        <ion-list-header>
      <ion-label>Інформація про користувача</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label><b>Ім'я клієнта:</b> {{data.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Дата додавання:</b> {{data.date_added}}</ion-label>
      </ion-item>
      <ion-list-header>
      <ion-label>Інформація про знижку</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label><b>Знижка:</b> <span class="sale-percent">-{{data.percent}}%</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Статус:</b> <span class="sale-status st{{data.status}}">{{ data.status == 1 ? 'Активна' : 'Вимкнена' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Період дії:</b> {{ data.date_start }} - {{ data.date_end }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Це онлайн:</b> <span class="sale-online onli{{data.is_online}}">{{ data.is_online == 1 ? 'Так' : 'Ні' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Ідентифікатор знижки:</b> {{ data.discount_id }}</ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-text color="medium" *ngIf="!data">
    Немає даних для відображення
  </ion-text>

</ion-content>
