 .discount-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--ion-color-danger);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 600;
  }

  ion-card-header {
    padding: 12px 16px;
    background: white;

    ion-card-title {
      font-size: 1.2em;
      font-weight: 700;
      color: var(--ion-color-dark);
    }

    ion-card-subtitle {
      font-size: 0.9em;
      color: var(--ion-color-medium);
    }
  }

  ion-card {
    background: #fff;
  }
  ion-card-content {
    padding: 0 16px 16px 16px;
    background: white;

    ion-button {
      --border-radius: 10px;
      height: 40px;
      font-size: 1em;
      font-weight: 600;
    }
  }
   .slide-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .loadMoreButton{
    margin-bottom: 3rem;
    margin-top: 25px;
  }
  
  .grid-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slide-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.grid-view, .list-view {
  transition: all 0.3s ease;
}
.man-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 12px;
}


/*for header*/ 
ion-header {
  box-shadow: none;
  --box-shadow: none;
}

.header-container {
  background-color: #2e2e2e;
  padding: 16px;
  color: white;
  transition: all 0.3s ease-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &.scrolled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.hidden .header-bottom {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  height: 40px;
}

.header-icons {
  display: flex;
  align-items: center;

  ion-button {
    --background: rgba(255, 255, 255, 0.2);
    --background-activated: rgba(255, 255, 255, 0.3);
    --background-focused: rgba(255, 255, 255, 0.3);
    --background-hover: rgba(255, 255, 255, 0.3);
    --color: white;
    --border-radius: 10px;
    height: 40px;
   
    min-width: 40px; /* Ensure it's at least 40px wide */
  }
}